.wrapper {
  background-image: url(../../../assets/images/3398605.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
}

.card {
  border: 1px solid lightgray;
  margin: auto;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px !important;
}
.loginBtn {
  width: 100%;
}
